<!-- Intro -->
<section id="intro" class="container">
    <h2>{{ .Site.Data.home.intro.title }}</h2>
    <div class="row">
        {{ range $part := .Site.Data.home.intro.sections }}
        <div class="4u 12u(mobile)">
            <section class="first">
                <header>
                  <h3><i class='icon {{ $part.icon }} intro-icon'></i><b>{{ $part.title }}</b></h3>
                </header>
                <p>{{ $part.description }}</p>
            </section>
        </div>
        {{ end }}
    </div>
</section>
