{{ define "main" }}
	<div id="page-wrapper">

		<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					{{ partial "logo.html" . }}

					{{ partial "nav.html" . }}

					{{ partial "slider.html" . }}

					{{ partial "intro.html" . }}

				</div>
			</div>

			{{ partial "footer/index.html" . }}

	</div>

	{{ partial "scripts/index.html" . }}
	{{ if .Site.Params.Settings.disqus }}
	<script id="dsq-count-scr" src="//{{ .Site.Params.Settings.disqus }}.disqus.com/count.js" async></script>
	{{ end }}

{{ end }}
